{% extends 'base.html.twig' %}

{% block title %} {% trans %}organisation.name{% endtrans %} {% trans %}organisation.shortdesc{% endtrans %} {% endblock %}
{% block body %}
    <div class="section title-section wf-section">
        <div class="container">
            <div class="column-valprop">
                <h1 class="page-title">{% trans %}organisation.welcome_page_title{% endtrans %}</h1>
            </div>
            <div class="value-prop-columns w-row">
                <div class="column-valprop w-col w-col-10">
                    <h5 class="page-subtitle">{% trans %}organisation.name{% endtrans %}{% trans %}organisation.welcome_page_subtitle{% endtrans %}<br></h5>
                </div>
                <div class="column-shape w-col w-col-2"></div>
            </div>
        </div>
        <div data-poster-url="videos/{% trans %}organisation.name{% endtrans %}abidjan-short-poster-00001.jpg" data-video-urls="videos/{% trans %}organisation.name{% endtrans %}abidjan-short-transcode.mp4,videos/{% trans %}organisation.name{% endtrans %}abidjan-short-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video-full w-background-video w-background-video-atom"><video id="57aa466f-436b-718c-e240-ea4eecb18bfd-video" autoplay="" loop="" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                <source src="videos/{% trans %}organisation.name{% endtrans %}abidjan-short-transcode.mp4" data-wf-ignore="true">
                <source src="videos/{% trans %}organisation.name{% endtrans %}abidjan-short-transcode.webm" data-wf-ignore="true">
            </video></div>
    </div>
    <div class="section inner-section wf-section">
        <div class="container with-image">
            <div class="w-row">
                <div class="column w-col w-col-6">
                    <h6 class="heading-2">{% trans %}sectors.title{% endtrans %}</h6>
                    <ul role="list" class="link-list services-list">
                        {% for sector in sectors %}
                            <li data-title="{{ sector.description }}," data-w-id="{{ sector.id }}" class="link-list-item">
                                <a href="#" data-ix="fade-content-out" class="text-link-large">{{ sector.title }},</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column showmissions w-col w-col-6">
                    <h6 data-w-id="944362cd-0604-e437-7a9c-66bd2e18fee7" class="heading-2 align-right mission-title">{% trans %}organisation.mission_title{% endtrans %}</h6>
                    <h5 id="titlemission" class="mission-detail">{% trans %}mission.detail{% endtrans %}<br></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="section inner-section values wf-section">
        <div data-w-id="12e8a6be-9c9b-3119-2973-da03cd470a8d" class="container">
            <div class="column-fullwidth">
                <h6 class="heading-2">{% trans %}our_approach{% endtrans %}</h6>

                <h5 class="page-subtitle margin">{% trans %} organisation.professional_approach {% endtrans %}</h5>
            </div>
        </div>
    </div>
    <div class="section inner-section colloborators wf-section">
        <div class="container with-image">
            <div class="column-fullwidth with-image">
                <div class="image-feature team-feature">
                    <div class="image-feature-panel">
                        <h5 class="section-title">{% trans %}our_team{% endtrans %}</h5>

                        <h4 class="heading-3">{% trans %}organisation.name{% endtrans %} {% trans %} organisation.main_experience {% endtrans %}</h4>
                        <p class="paragraph">{% trans %} organisation.main_experience_details {% endtrans %}</p>
                        <a href="/team" data-ix="fade-content-out" class="text-link-uppercase">Découvrez nos collaborateurs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section background-white wf-section">
        <div class="container follow-us">
            <div class="column-fullwidth news">
                <div class="separator no-padding"></div>

              
                <h4 class="section-heading">
                    {% trans %}organisation.Our recent news_title{% endtrans %}
                   </h4>
                <div class="columns w-row">
                    <div class="column-3 w-col w-col-6">
                        <h5 class="heading">{% trans %}digital_insights_africa{% endtrans %}<br>{% trans %}find_on_linkedin{% endtrans %}</h5>


                        <a href="https://www.linkedin.com/company/{% trans %}organisation.name{% endtrans %}digital/" data-ix="fade-content-out" target="_blank" class="text-link-uppercase linkedin">Suivez-nous sur Linkedin</a>
                    </div>
                    <div class="column-2 w-col w-col-6">
                        <a href="{% trans %}organisation.linkedin_website{% endtrans %}" data-ix="fade-content-out" target="_blank" class="button w-button">Suivez-nous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_scripts %}
    <script src="{{ asset('javascript/jquery-3.5.1.slim.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('javascript/webflow.js') }}" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="{{ asset('javascript/placeholders.min.js') }}"></script><![endif] -->
    <link rel="alternate" hreflang="fr" href="index.html">
    <link rel="alternate" hreflang="en" href="https://en.{% trans %}organisation.name{% endtrans %}digital.com/">
    <script type="text/javascript" src="{{ asset('javascript/weglot.min.js') }}"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_6470d5fea3d2ba0fda2f7a66401e0f9e0'
        });
    </script>
    <script src="https://unpkg.com/spacetime"></script>
    <!--  START: Mobile Autoplay Video  -->
    <script>
        var mobilevideo = document.getElementsByTagName("video")[0];
        mobilevideo.setAttribute("playsinline", "");
        mobilevideo.setAttribute("muted", "");
    </script>
    <!--  END: Mobile Autoplay Video  -->
    <script src="{{ asset('javascript/jquery-3.5.1.slim.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(".link-list-item").mouseover(function() {
                var mission = $(this).attr("data-title");
                $("h5#titlemission").text(mission);
            });
        });
    </script>
{% endblock %}
