{% extends 'base.html.twig' %}

{% block title %} {% trans %}organisation.name{% endtrans %} {% trans %}organisation.shortdesc{% endtrans %} {% endblock %}
{% block body %}
    <div data-ix="fade-content-in" class="content-container">
        <div class="section title-section wf-section">
            <div class="container">
                <div class="w-row">
                    <div class="column w-col w-col-11">
                        <h1 class="page-title">{% trans %}our_experts_knowledge{% endtrans %}</h1>


                        <h5 class="page-subtitle">Fondé en 2017 par des consultants disposant d’une longue expérience des marchés émergents, <br>{% trans %}organisation.name{% endtrans %} est constitué d’une équipe réunissant des expertises complémentaires. <br>‍<br>Passionnés par l’innovation, nous sommes investis auprès de startups et retirons de cet écosystème fertile une connaissance approfondie des enjeux du digital.<br></h5>
                        <div class="separator"></div>
                    </div>
                    <div class="column w-col w-col-1"></div>
                </div>
            </div>
        </div>
        <div class="wf-section">
            <div class="container team">
                <div class="team-member w-container">
                    <div class="team-member-inner"><img src="images/jerome.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/jerome-p-500.jpeg 500w, images/jerome-p-800.jpeg 800w, images/jerome-p-1080.jpeg 1080w, images/jerome-p-1600.jpeg 1600w, images/jerome-p-2000.jpeg 2000w, images/jerome-p-2600.jpeg 2600w, images/jerome.jpg 2848w" alt="" class="team-profile">
                        <div class="team-member-title">
                            <h4 class="team-member-name">{% trans %}jerome_vincent_name{% endtrans %}</h4>
                            <div class="team-member-position"><strong>{% trans %}associate{% endtrans %}</strong> - {% trans %}managing_partner{% endtrans %}</div>
                            <a href="collaborators/jerome-vincent.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                          
                        </div>
                    </div>
                </div>
                <div class="team-member w-container">
                    <div class="team-member-inner"><img src="images/morganecrop.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/morganecrop-p-500.jpeg 500w, images/morganecrop-p-800.jpeg 800w, images/morganecrop-p-1080.jpeg 1080w, images/morganecrop-p-1600.jpeg 1600w, images/morganecrop-p-2000.jpeg 2000w, images/morganecrop-p-2600.jpeg 2600w, images/morganecrop.jpg 2673w" alt="" class="team-profile">
                        <div class="team-member-title">
                            <h4 class="team-member-name">{% trans %}morgane_roth{% endtrans %}</h4>

                            <div class="team-member-position"><strong>{% trans %}associate_change_leadership{% endtrans %}</strong> - {% trans %}change_management{% endtrans %}</div>

                            <a href="collaborators/morgane-roth.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container team">
                <div class="team-member w-container">
                    <div class="team-member-inner"><img src="images/alexis.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/alexis-p-500.jpeg 500w, images/alexis-p-800.jpeg 800w, images/alexis-p-1080.jpeg 1080w, images/alexis-p-1600.jpeg 1600w, images/alexis-p-2000.jpeg 2000w, images/alexis.jpg 8192w" alt="" class="team-profile">
                        <div class="team-member-title">
                            <h4 class="team-member-name">Alexis Kignelman</h4>
                            <div class="team-member-position"><strong>{% trans %}director{% endtrans %}</strong> - {% trans %}operations_and_processes{% endtrans %}</div>

                            <a href="collaborators/alexis-kignelman.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
                <div class="team-member w-container">
                    <div class="team-member-inner"><img src="images/aurelien.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/aurelien-p-500.jpeg 500w, images/aurelien-p-800.jpeg 800w, images/aurelien-p-1080.jpeg 1080w, images/aurelien.jpg 1600w" alt="" class="team-profile">
                        <div class="team-member-title">
                            <h4 class="team-member-name">Aurelien Cunin</h4>
                            <div class="team-member-position"><strong>Directeur </strong>- Innovation</div>
                            <a href="collaborators/aurelien-cunin.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container team">
                <div class="team-member last w-container">
                    <div class="team-member-inner"><img src="images/photo.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/photo-p-500.jpg 500w, images/photo-p-800.jpg 800w, images/photo-p-1080.jpg 1080w, images/photo-p-1600.jpg 1600w, images/photo-p-2000.jpg 2000w, images/photo-p-2600.jpg 2600w, images/photo-p-3200.jpg 3200w" alt="" class="team-profile forcewidth">
                        <div class="team-member-title">
                            <h4 class="team-member-name">Juliette Philipon</h4>
                            <div class="team-member-position"><strong>Manager</strong></div>
                            <a href="collaborators/juliette-philipon.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
                <div class="team-member last w-container">
                    <div class="team-member-inner"><img src="images/Isabelle.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/Isabelle-p-500.jpg 500w, images/Isabelle-p-800.jpg 800w, images/Isabelle.jpg 863w" alt="" class="team-profile forcewidth">
                        <div class="team-member-title">
                            <h4 class="team-member-name">Isabelle Bousomog</h4>
                            <div class="team-member-position"><strong>Manager</strong></div>
                            <a href="collaborators/isabelle-bousomog.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container team">
                <div class="team-member last w-container">
                    <div class="team-member-inner"><img src="images/DSC_6590.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/DSC_6590-p-500.jpg 500w, images/DSC_6590-p-800.jpg 800w, images/DSC_6590.jpg 800w" alt="" class="team-profile">
                        <div class="team-member-title">
                            <h4 class="team-member-name">Mehdi Sayegh</h4>
                            <div class="team-member-position"><strong>Consultant Senior</strong></div>
                            <a href="collaborators/mehdi-sayegh.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
                <div class="team-member last w-container">
                    <div class="team-member-inner"><img src="images/image002.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/image002-p-500.jpeg 500w, images/image002.jpg 653w" alt="" class="team-profile">
                        <div class="team-member-title">
                            <h4 class="team-member-name">Pierre Casanova</h4>
                            <div class="team-member-position"><strong>Consultant Senior</strong></div>
                            <a href="collaborators/pierre-casanova.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container team">
                <div class="team-member last w-container">
                    <div class="team-member-inner"><img src="images/Photo-CG.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/Photo-CG.jpeg 500w, images/Photo-CG.jpeg 800w, images/Photo-CG.jpeg 800w" alt="" class="team-profile forcewidth">
                        <div class="team-member-title">
                            <h4 class="team-member-name">Constance Gédon</h4>
                            <div class="team-member-position"><strong>Consultante Senior</strong></div>
                            <a href="collaborators/constance-gedon.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
                <div class="team-member last w-container">
                    <div class="team-member-inner"><img src="images/image1-3.jpg" loading="eager" height="" sizes="(max-width: 479px) 0px, 100vw" srcset="images/image1-3.jpeg 500w" alt="" class="team-profile">
                        <div class="team-member-title">
                            <h4 class="team-member-name">Thomas Mariée</h4>
                            <div class="team-member-position"><strong>Consultant Senior</strong></div>
                            <a href="collaborators/thomas-mariee.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container team">
                <div class="team-member last w-container">
                    <div class="team-member-inner"><img src="images/jbksqrthd.jpg" loading="eager" height="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="images/jbksqrthd-p-500.jpeg 500w, images/jbksqrthd-p-800.jpeg 800w, images/jbksqrthd-p-1080.jpeg 1080w, images/jbksqrthd-p-1600.jpeg 1600w, images/jbksqrthd-p-2000.jpeg 2000w, images/jbksqrthd.jpg 2718w" alt="" class="team-profile">
                        <div class="team-member-title">
                            <h4 class="team-member-name">Jean-Baptiste Kaloya</h4>
                            <div class="team-member-position"><strong>{% trans %}expert{% endtrans %}</strong> - {% trans %}digital_strategy_and_service_design{% endtrans %}</div>

                            <a href="collaborators/jean-baptiste-kaloya.html" class="text-link-uppercase">{% trans %}learn_more{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section call-to-action wf-section">
            <div class="container">
                <div class="column-fullwidth">
                    <div class="separator"></div>
                    <h6 class="heading-4">{% trans %}help_us{% endtrans %}</h6>
                    <h3 class="heading-5 contact-prop">{% trans %}contact_us{% endtrans %}</h3>
                    <div class="columns-3 w-row">
                        <div class="column-11 w-col w-col-7">
                            <h5 class="heading-6">{% trans %}our_team_expertise{% endtrans %}</h5>

                        </div>
                        <div class="column-6 w-col w-col-5">
                            <a href="contact.html" data-ix="fade-content-out" class="button w-button">{% trans %}contact_us{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer w-clearfix wf-section">
            <div class="footer-square right"></div>
            <div class="footer-square"></div>
            <div class="container">
                <div class="footer-content">
                    <a href="index-2.html" data-ix="fade-content-out" class="footer-logo w-inline-block"><img src="images/{% trans %}organisation.name{% endtrans %}blue.svg" alt="" class="logo"></a>
                    <div class="footer-tagline">{% trans %}council_strategy_innovation{% endtrans %}</div>
                    <div class="spaccing-bottom">
                        <ul role="list" class="link-list footer-navbar">
                            <li class="link-list-item footer-link-list-item">
                                <a href="expertises.html" data-ix="fade-content-out" class="navbar-link footer-navbar-link">{% trans %}expertises{% endtrans %}</a>
                            </li>
                            <li class="link-list-item footer-link-list-item">
                                <a href="team.html" data-ix="fade-content-out" aria-current="page" class="navbar-link footer-navbar-link w--current">{% trans %}team{% endtrans %}</a>
                            </li>
                            <li class="link-list-item footer-link-list-item">
                                <a href="contact.html" data-ix="fade-content-out" class="navbar-link footer-navbar-link">{% trans %}contact{% endtrans %}</a>
                            </li>
                            <li class="link-list-item footer-link-list-item">
                                <a href="legal.html" data-ix="fade-content-out" class="navbar-link footer-navbar-link">{% trans %}legal_mentions{% endtrans %}</a>
                            </li>
                        </ul>
                        <div>
                            <h6 class="footer-third-heading social-link">{% trans %}follow_us{% endtrans %}</h6>
                            <ul role="list" class="link-list social-list w-list-unstyled">
                                <li class="link-list-item social-list-item">
                                    <a href="https://www.linkedin.com/company/{% trans %}organisation.name{% endtrans %}digital/" target="_blank" class="social-link w-inline-block"><img src="images/linkedin.svg" alt="" class="social-icon"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-two-third">
                <h6 class="footer-third-heading">{% trans %}cote_divoire{% endtrans %}/h6>
                    <div class="footer-third-text">{% trans %}residence_green_address{% endtrans %}</div>

            </div>
            <div class="footer-one-third">
                <h6 class="footer-third-heading">{% trans %}senegal{% endtrans %}</h6>
                <div class="footer-third-text">{% trans %}plateau_dakar{% endtrans %}</div>
            </div>
            <div class="footer-two-third">
                <h6 class="footer-third-heading">{% trans %}france{% endtrans %}</h6>
                <div class="footer-third-text">{% trans %}avenue_bosquet_address{% endtrans %}<br>{% trans %}postal_code_and_city{% endtrans %}</div>

            </div>
        </div>
    </div>
    {% block other_scripts %}
        <script src="{{ asset('javascript/jquery-3.5.1.slim.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('javascript/webflow.js') }}" type="text/javascript"></script>
        <!-- [if lte IE 9]><script src="{{ asset('javascript/placeholders.min.js') }}"></script><![endif] -->
        <link rel="alternate" hreflang="fr" href="index.html">
        <link rel="alternate" hreflang="en" href="https://en.{% trans %}organisation.name{% endtrans %}digital.com/">
        <script type="text/javascript" src="{{ asset('javascript/weglot.min.js') }}"></script>
        <script>
            Weglot.initialize({
                api_key: 'wg_6470d5fea3d2ba0fda2f7a66401e0f9e0'
            });
        </script>
        <script src="https://unpkg.com/spacetime"></script>
        <!--  START: Mobile Autoplay Video  -->
        <script>
            var mobilevideo = document.getElementsByTagName("video")[0];
            mobilevideo.setAttribute("playsinline", "");
            mobilevideo.setAttribute("muted", "");
        </script>
        <!--  END: Mobile Autoplay Video  -->
        <script src="{{ asset('javascript/jquery-3.5.1.slim.min.js') }}" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
                $(".link-list-item").mouseover(function() {
                    var mission = $(this).attr("data-title");
                    $("h5#titlemission").text(mission);
                });
            });
        </script>
    {% endblock %}
{% endblock %}
